# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:quirky-basilisk-221 # team: gavrik0612, project: notes-app-pv-314-master

EXPO_PUBLIC_CONVEX_URL=https://quirky-basilisk-221.eu-west-1.convex.cloud

EXPO_PUBLIC_CONVEX_SITE_URL=https://quirky-basilisk-221.eu-west-1.convex.site